/*
 * AIOZ Stream API
 *
 * The AIOZ Stream API, as the generated SDK clients see it.
 *
 * API version: 1.0
 * Contact: support@swagger.io
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package aiozstreamsdk

import (
	"context"
	"net/http"
	"net/url"
	"strings"
)

// Linger please
var (
	_ context.Context
)

type WebhookApiListRequest struct {
	encodingFailed   *bool
	encodingFinished *bool
	encodingStarted  *bool
	fileReceived     *bool
	limit            *int32
	offset           *int32
	orderBy          *string
	partialFinished  *bool
	search           *string
	sortBy           *string
}

func (r WebhookApiListRequest) EncodingFailed(encodingFailed bool) WebhookApiListRequest {
	r.encodingFailed = &encodingFailed
	return r
}
func (r WebhookApiListRequest) EncodingFinished(encodingFinished bool) WebhookApiListRequest {
	r.encodingFinished = &encodingFinished
	return r
}
func (r WebhookApiListRequest) EncodingStarted(encodingStarted bool) WebhookApiListRequest {
	r.encodingStarted = &encodingStarted
	return r
}
func (r WebhookApiListRequest) FileReceived(fileReceived bool) WebhookApiListRequest {
	r.fileReceived = &fileReceived
	return r
}
func (r WebhookApiListRequest) Limit(limit int32) WebhookApiListRequest {
	r.limit = &limit
	return r
}
func (r WebhookApiListRequest) Offset(offset int32) WebhookApiListRequest {
	r.offset = &offset
	return r
}
func (r WebhookApiListRequest) OrderBy(orderBy string) WebhookApiListRequest {
	r.orderBy = &orderBy
	return r
}
func (r WebhookApiListRequest) PartialFinished(partialFinished bool) WebhookApiListRequest {
	r.partialFinished = &partialFinished
	return r
}
func (r WebhookApiListRequest) Search(search string) WebhookApiListRequest {
	r.search = &search
	return r
}
func (r WebhookApiListRequest) SortBy(sortBy string) WebhookApiListRequest {
	r.sortBy = &sortBy
	return r
}

type WebhookServiceI interface {
	/*
	 * Create Create a webhook
	 * @return WebhookApiCreateRequest
	 */

	Create(writeWebhookRequest WriteWebhookRequest) (*WebhookResponse, error)

	/*
	 * Create Create a webhook
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return WebhookApiCreateRequest
	 */

	CreateWithContext(ctx context.Context, writeWebhookRequest WriteWebhookRequest) (*WebhookResponse, error)

	/*
	 * Get Get a webhook
	 * @param id Webhook ID
	 * @return WebhookApiGetRequest
	 */

	Get(id string) (*WebhookResponse, error)

	/*
	 * Get Get a webhook
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Webhook ID
	 * @return WebhookApiGetRequest
	 */

	GetWithContext(ctx context.Context, id string) (*WebhookResponse, error)

	/*
	 * Update Update a webhook
	 * @param id Webhook ID
	 * @return WebhookApiUpdateRequest
	 */

	Update(id string, writeWebhookRequest WriteWebhookRequest) (*ResponseSuccess, error)

	/*
	 * Update Update a webhook
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Webhook ID
	 * @return WebhookApiUpdateRequest
	 */

	UpdateWithContext(ctx context.Context, id string, writeWebhookRequest WriteWebhookRequest) (*ResponseSuccess, error)

	/*
	 * Delete Delete a webhook
	 * @param id Webhook ID
	 * @return WebhookApiDeleteRequest
	 */

	Delete(id string) (*ResponseSuccess, error)

	/*
	 * Delete Delete a webhook
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Webhook ID
	 * @return WebhookApiDeleteRequest
	 */

	DeleteWithContext(ctx context.Context, id string) (*ResponseSuccess, error)

	/*
	 * List List webhooks
	 * @return WebhookApiListRequest
	 */

	List(r WebhookApiListRequest) (*ListWebhooksResponse, error)

	/*
	 * List List webhooks
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return WebhookApiListRequest
	 */

	ListWithContext(ctx context.Context, r WebhookApiListRequest) (*ListWebhooksResponse, error)

	/*
	 * Check Send a test event
	 * @param id Webhook ID
	 * @return WebhookApiCheckRequest
	 */

	Check(id string) (*ResponseSuccess, error)

	/*
	 * Check Send a test event
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Webhook ID
	 * @return WebhookApiCheckRequest
	 */

	CheckWithContext(ctx context.Context, id string) (*ResponseSuccess, error)
}

// WebhookService communicating with the Webhook
// endpoints of the AIOZ Stream API
type WebhookService struct {
	client *Client
}

/*
 * Create Create a webhook
 * Registers a URL to be notified of media events, so your server does not have to poll.

 * @return WebhookApiCreateRequest
 */

func (s *WebhookService) Create(writeWebhookRequest WriteWebhookRequest) (*WebhookResponse, error) {

	return s.CreateWithContext(context.Background(), writeWebhookRequest)

}

/*
 * Create Create a webhook
 * Registers a URL to be notified of media events, so your server does not have to poll.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return WebhookApiCreateRequest
 */

func (s *WebhookService) CreateWithContext(ctx context.Context, writeWebhookRequest WriteWebhookRequest) (*WebhookResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/webhooks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = writeWebhookRequest

	req, err := s.client.prepareRequest(ctx, http.MethodPost, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(WebhookResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Get Get a webhook
 * Returns one webhook by id.

 * @param id Webhook ID
 * @return WebhookApiGetRequest
 */

func (s *WebhookService) Get(id string) (*WebhookResponse, error) {

	return s.GetWithContext(context.Background(), id)

}

/*
 * Get Get a webhook
 * Returns one webhook by id.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Webhook ID
 * @return WebhookApiGetRequest
 */

func (s *WebhookService) GetWithContext(ctx context.Context, id string) (*WebhookResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/webhooks/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	req, err := s.client.prepareRequest(ctx, http.MethodGet, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(WebhookResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Update Update a webhook
 * Changes a webhook's URL, name or events.

 * @param id Webhook ID
 * @return WebhookApiUpdateRequest
 */

func (s *WebhookService) Update(id string, writeWebhookRequest WriteWebhookRequest) (*ResponseSuccess, error) {

	return s.UpdateWithContext(context.Background(), id, writeWebhookRequest)

}

/*
 * Update Update a webhook
 * Changes a webhook's URL, name or events.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Webhook ID
 * @return WebhookApiUpdateRequest
 */

func (s *WebhookService) UpdateWithContext(ctx context.Context, id string, writeWebhookRequest WriteWebhookRequest) (*ResponseSuccess, error) {
	var localVarPostBody interface{}

	localVarPath := "/webhooks/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = writeWebhookRequest

	req, err := s.client.prepareRequest(ctx, http.MethodPatch, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ResponseSuccess)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Delete Delete a webhook
 * Removes a webhook. No further events are pushed to it.

 * @param id Webhook ID
 * @return WebhookApiDeleteRequest
 */

func (s *WebhookService) Delete(id string) (*ResponseSuccess, error) {

	return s.DeleteWithContext(context.Background(), id)

}

/*
 * Delete Delete a webhook
 * Removes a webhook. No further events are pushed to it.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Webhook ID
 * @return WebhookApiDeleteRequest
 */

func (s *WebhookService) DeleteWithContext(ctx context.Context, id string) (*ResponseSuccess, error) {
	var localVarPostBody interface{}

	localVarPath := "/webhooks/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	req, err := s.client.prepareRequest(ctx, http.MethodDelete, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ResponseSuccess)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * List List webhooks
 * Returns a page of the webhooks configured for your workspace.

 * @return WebhookApiListRequest
 */

func (s *WebhookService) List(r WebhookApiListRequest) (*ListWebhooksResponse, error) {

	return s.ListWithContext(context.Background(), r)

}

/*
 * List List webhooks
 * Returns a page of the webhooks configured for your workspace.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return WebhookApiListRequest
 */

func (s *WebhookService) ListWithContext(ctx context.Context, r WebhookApiListRequest) (*ListWebhooksResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/webhooks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	if r.encodingFailed != nil {
		localVarQueryParams.Add("encoding_failed", parameterToString(*r.encodingFailed, ""))
	}
	if r.encodingFinished != nil {
		localVarQueryParams.Add("encoding_finished", parameterToString(*r.encodingFinished, ""))
	}
	if r.encodingStarted != nil {
		localVarQueryParams.Add("encoding_started", parameterToString(*r.encodingStarted, ""))
	}
	if r.fileReceived != nil {
		localVarQueryParams.Add("file_received", parameterToString(*r.fileReceived, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.orderBy != nil {
		localVarQueryParams.Add("order_by", parameterToString(*r.orderBy, ""))
	}
	if r.partialFinished != nil {
		localVarQueryParams.Add("partial_finished", parameterToString(*r.partialFinished, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("search", parameterToString(*r.search, ""))
	}
	if r.sortBy != nil {
		localVarQueryParams.Add("sort_by", parameterToString(*r.sortBy, ""))
	}

	req, err := s.client.prepareRequest(ctx, http.MethodGet, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ListWebhooksResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Check Send a test event
 * Delivers a test event to a webhook, so you can confirm your endpoint accepts it.

 * @param id Webhook ID
 * @return WebhookApiCheckRequest
 */

func (s *WebhookService) Check(id string) (*ResponseSuccess, error) {

	return s.CheckWithContext(context.Background(), id)

}

/*
 * Check Send a test event
 * Delivers a test event to a webhook, so you can confirm your endpoint accepts it.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Webhook ID
 * @return WebhookApiCheckRequest
 */

func (s *WebhookService) CheckWithContext(ctx context.Context, id string) (*ResponseSuccess, error) {
	var localVarPostBody interface{}

	localVarPath := "/webhooks/check/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	req, err := s.client.prepareRequest(ctx, http.MethodPost, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ResponseSuccess)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}
