/*
 * AIOZ Stream API
 *
 * The AIOZ Stream API, as the generated SDK clients see it.
 *
 * API version: 1.0
 * Contact: support@swagger.io
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package aiozstreamsdk

import (
	"context"
	"net/http"
	"net/url"
	"strings"
)

// Linger please
var (
	_ context.Context
)

type ApiKeyApiListRequest struct {
	limit   *int32
	offset  *int32
	orderBy *string
	search  *string
	sortBy  *string
	type_   *string
}

func (r ApiKeyApiListRequest) Limit(limit int32) ApiKeyApiListRequest {
	r.limit = &limit
	return r
}
func (r ApiKeyApiListRequest) Offset(offset int32) ApiKeyApiListRequest {
	r.offset = &offset
	return r
}
func (r ApiKeyApiListRequest) OrderBy(orderBy string) ApiKeyApiListRequest {
	r.orderBy = &orderBy
	return r
}
func (r ApiKeyApiListRequest) Search(search string) ApiKeyApiListRequest {
	r.search = &search
	return r
}
func (r ApiKeyApiListRequest) SortBy(sortBy string) ApiKeyApiListRequest {
	r.sortBy = &sortBy
	return r
}
func (r ApiKeyApiListRequest) Type_(type_ string) ApiKeyApiListRequest {
	r.type_ = &type_
	return r
}

type ApiKeyServiceI interface {
	/*
	 * Create Create API key
	 * @return ApiKeyApiCreateRequest
	 */

	Create(createApiKeyRequest CreateApiKeyRequest) (*CreateApiKeyResponse, error)

	/*
	 * Create Create API key
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return ApiKeyApiCreateRequest
	 */

	CreateWithContext(ctx context.Context, createApiKeyRequest CreateApiKeyRequest) (*CreateApiKeyResponse, error)

	/*
	 * Update Rename an API key
	 * @param id API key ID
	 * @return ApiKeyApiUpdateRequest
	 */

	Update(id string, renameApiKeyRequest RenameApiKeyRequest) (*ResponseSuccess, error)

	/*
	 * Update Rename an API key
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id API key ID
	 * @return ApiKeyApiUpdateRequest
	 */

	UpdateWithContext(ctx context.Context, id string, renameApiKeyRequest RenameApiKeyRequest) (*ResponseSuccess, error)

	/*
	 * Delete Delete an API key
	 * @param id API key ID
	 * @return ApiKeyApiDeleteRequest
	 */

	Delete(id string) (*ResponseSuccess, error)

	/*
	 * Delete Delete an API key
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id API key ID
	 * @return ApiKeyApiDeleteRequest
	 */

	DeleteWithContext(ctx context.Context, id string) (*ResponseSuccess, error)

	/*
	 * List List API keys
	 * @return ApiKeyApiListRequest
	 */

	List(r ApiKeyApiListRequest) (*ListApiKeysResponse, error)

	/*
	 * List List API keys
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return ApiKeyApiListRequest
	 */

	ListWithContext(ctx context.Context, r ApiKeyApiListRequest) (*ListApiKeysResponse, error)
}

// ApiKeyService communicating with the ApiKey
// endpoints of the AIOZ Stream API
type ApiKeyService struct {
	client *Client
}

/*
 * Create Create API key
 * Creates a new API key for the caller's workspace. The secret is returned once, here, and never again.

 * @return ApiKeyApiCreateRequest
 */

func (s *ApiKeyService) Create(createApiKeyRequest CreateApiKeyRequest) (*CreateApiKeyResponse, error) {

	return s.CreateWithContext(context.Background(), createApiKeyRequest)

}

/*
 * Create Create API key
 * Creates a new API key for the caller's workspace. The secret is returned once, here, and never again.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiKeyApiCreateRequest
 */

func (s *ApiKeyService) CreateWithContext(ctx context.Context, createApiKeyRequest CreateApiKeyRequest) (*CreateApiKeyResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/api_keys"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = createApiKeyRequest

	req, err := s.client.prepareRequest(ctx, http.MethodPost, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(CreateApiKeyResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Update Rename an API key
 * Changes an API key's display name. The key and its secret are unchanged.

 * @param id API key ID
 * @return ApiKeyApiUpdateRequest
 */

func (s *ApiKeyService) Update(id string, renameApiKeyRequest RenameApiKeyRequest) (*ResponseSuccess, error) {

	return s.UpdateWithContext(context.Background(), id, renameApiKeyRequest)

}

/*
 * Update Rename an API key
 * Changes an API key's display name. The key and its secret are unchanged.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id API key ID
 * @return ApiKeyApiUpdateRequest
 */

func (s *ApiKeyService) UpdateWithContext(ctx context.Context, id string, renameApiKeyRequest RenameApiKeyRequest) (*ResponseSuccess, error) {
	var localVarPostBody interface{}

	localVarPath := "/api_keys/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = renameApiKeyRequest

	req, err := s.client.prepareRequest(ctx, http.MethodPatch, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ResponseSuccess)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Delete Delete an API key
 * Revokes an API key. Requests presenting it stop working immediately.

 * @param id API key ID
 * @return ApiKeyApiDeleteRequest
 */

func (s *ApiKeyService) Delete(id string) (*ResponseSuccess, error) {

	return s.DeleteWithContext(context.Background(), id)

}

/*
 * Delete Delete an API key
 * Revokes an API key. Requests presenting it stop working immediately.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id API key ID
 * @return ApiKeyApiDeleteRequest
 */

func (s *ApiKeyService) DeleteWithContext(ctx context.Context, id string) (*ResponseSuccess, error) {
	var localVarPostBody interface{}

	localVarPath := "/api_keys/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	req, err := s.client.prepareRequest(ctx, http.MethodDelete, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ResponseSuccess)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * List List API keys
 * Returns a page of the API keys for the caller's workspace.

 * @return ApiKeyApiListRequest
 */

func (s *ApiKeyService) List(r ApiKeyApiListRequest) (*ListApiKeysResponse, error) {

	return s.ListWithContext(context.Background(), r)

}

/*
 * List List API keys
 * Returns a page of the API keys for the caller's workspace.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiKeyApiListRequest
 */

func (s *ApiKeyService) ListWithContext(ctx context.Context, r ApiKeyApiListRequest) (*ListApiKeysResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/api_keys"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.orderBy != nil {
		localVarQueryParams.Add("order_by", parameterToString(*r.orderBy, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("search", parameterToString(*r.search, ""))
	}
	if r.sortBy != nil {
		localVarQueryParams.Add("sort_by", parameterToString(*r.sortBy, ""))
	}
	if r.type_ != nil {
		localVarQueryParams.Add("type", parameterToString(*r.type_, ""))
	}

	req, err := s.client.prepareRequest(ctx, http.MethodGet, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ListApiKeysResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}
