/*
 * AIOZ Stream API
 *
 * The AIOZ Stream API, as the generated SDK clients see it.
 *
 * API version: 1.0
 * Contact: support@swagger.io
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package aiozstreamsdk

import (
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
	"strings"
)

// Linger please
var (
	_ context.Context
)

type PlaylistApiGetRequest struct {
	orderBy *string
	search  *string
	sortBy  *string
}

func (r PlaylistApiGetRequest) OrderBy(orderBy string) PlaylistApiGetRequest {
	r.orderBy = &orderBy
	return r
}
func (r PlaylistApiGetRequest) Search(search string) PlaylistApiGetRequest {
	r.search = &search
	return r
}
func (r PlaylistApiGetRequest) SortBy(sortBy string) PlaylistApiGetRequest {
	r.sortBy = &sortBy
	return r
}

type PlaylistServiceI interface {
	/*
	 * Create Create a playlist
	 * @return PlaylistApiCreateRequest
	 */

	Create(createPlaylistRequest CreatePlaylistRequest) (*PlaylistResponse, error)

	/*
	 * Create Create a playlist
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return PlaylistApiCreateRequest
	 */

	CreateWithContext(ctx context.Context, createPlaylistRequest CreatePlaylistRequest) (*PlaylistResponse, error)

	/*
	 * Get Get a playlist
	 * @param id Playlist ID
	 * @return PlaylistApiGetRequest
	 */

	Get(id string, r PlaylistApiGetRequest) (*PlaylistResponse, error)

	/*
	 * Get Get a playlist
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Playlist ID
	 * @return PlaylistApiGetRequest
	 */

	GetWithContext(ctx context.Context, id string, r PlaylistApiGetRequest) (*PlaylistResponse, error)

	/*
	 * Update Update a playlist
	 * @param id Playlist ID
	 * @return PlaylistApiUpdateRequest
	 */
	Update(id string, name *string, tags *[]string, fileName string, fileReader io.Reader) (*ResponseSuccess, error)
	/*
	 * Update Update a playlist
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Playlist ID
	 * @return PlaylistApiUpdateRequest
	 */
	UpdateWithContext(ctx context.Context, id string, name *string, tags *[]string, fileName string, fileReader io.Reader) (*ResponseSuccess, error)

	/*
	 * Delete Delete a playlist
	 * @param id Playlist ID
	 * @return PlaylistApiDeleteRequest
	 */

	Delete(id string) (*ResponseSuccess, error)

	/*
	 * Delete Delete a playlist
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Playlist ID
	 * @return PlaylistApiDeleteRequest
	 */

	DeleteWithContext(ctx context.Context, id string) (*ResponseSuccess, error)

	/*
	 * List List playlists
	 * @return PlaylistApiListRequest
	 */

	List(listPlaylistsRequest ListPlaylistsRequest) (*ListPlaylistsResponse, error)

	/*
	 * List List playlists
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return PlaylistApiListRequest
	 */

	ListWithContext(ctx context.Context, listPlaylistsRequest ListPlaylistsRequest) (*ListPlaylistsResponse, error)

	/*
	 * DeleteThumbnail Delete a playlist thumbnail
	 * @param id Playlist ID
	 * @return PlaylistApiDeleteThumbnailRequest
	 */

	DeleteThumbnail(id string) (*ResponseSuccess, error)

	/*
	 * DeleteThumbnail Delete a playlist thumbnail
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Playlist ID
	 * @return PlaylistApiDeleteThumbnailRequest
	 */

	DeleteThumbnailWithContext(ctx context.Context, id string) (*ResponseSuccess, error)

	/*
	 * AddMedia Add media to playlists
	 * @param id Playlist ID
	 * @return PlaylistApiAddMediaRequest
	 */

	AddMedia(id string, addMediaRequest AddMediaRequest) (*ResponseSuccess, error)

	/*
	 * AddMedia Add media to playlists
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Playlist ID
	 * @return PlaylistApiAddMediaRequest
	 */

	AddMediaWithContext(ctx context.Context, id string, addMediaRequest AddMediaRequest) (*ResponseSuccess, error)

	/*
	 * GetPublic Get a playlist for the player
	 * @param id Playlist ID
	 * @return PlaylistApiGetPublicRequest
	 */

	GetPublic(id string) (*ResponseSuccess, error)

	/*
	 * GetPublic Get a playlist for the player
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Playlist ID
	 * @return PlaylistApiGetPublicRequest
	 */

	GetPublicWithContext(ctx context.Context, id string) (*ResponseSuccess, error)

	/*
	 * MoveItem Reorder a playlist
	 * @param id Playlist ID
	 * @return PlaylistApiMoveItemRequest
	 */

	MoveItem(id string, moveItemRequest MoveItemRequest) (*ResponseSuccess, error)

	/*
	 * MoveItem Reorder a playlist
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Playlist ID
	 * @return PlaylistApiMoveItemRequest
	 */

	MoveItemWithContext(ctx context.Context, id string, moveItemRequest MoveItemRequest) (*ResponseSuccess, error)

	/*
	 * RemoveMedia Remove an item from playlists
	 * @param id Playlist ID
	 * @param itemId Playlist item ID
	 * @return PlaylistApiRemoveMediaRequest
	 */

	RemoveMedia(id string, itemId string, removeMediaRequest RemoveMediaRequest) (*ResponseSuccess, error)

	/*
	 * RemoveMedia Remove an item from playlists
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Playlist ID
	 * @param itemId Playlist item ID
	 * @return PlaylistApiRemoveMediaRequest
	 */

	RemoveMediaWithContext(ctx context.Context, id string, itemId string, removeMediaRequest RemoveMediaRequest) (*ResponseSuccess, error)
}

// PlaylistService communicating with the Playlist
// endpoints of the AIOZ Stream API
type PlaylistService struct {
	client *Client
}

/*
 * Create Create a playlist
 * Creates an empty playlist in your workspace.

 * @return PlaylistApiCreateRequest
 */

func (s *PlaylistService) Create(createPlaylistRequest CreatePlaylistRequest) (*PlaylistResponse, error) {

	return s.CreateWithContext(context.Background(), createPlaylistRequest)

}

/*
 * Create Create a playlist
 * Creates an empty playlist in your workspace.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return PlaylistApiCreateRequest
 */

func (s *PlaylistService) CreateWithContext(ctx context.Context, createPlaylistRequest CreatePlaylistRequest) (*PlaylistResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/playlists/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = createPlaylistRequest

	req, err := s.client.prepareRequest(ctx, http.MethodPost, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(PlaylistResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Get Get a playlist
 * Returns one playlist and its items, ordered as you ask.

 * @param id Playlist ID
 * @return PlaylistApiGetRequest
 */

func (s *PlaylistService) Get(id string, r PlaylistApiGetRequest) (*PlaylistResponse, error) {

	return s.GetWithContext(context.Background(), id, r)

}

/*
 * Get Get a playlist
 * Returns one playlist and its items, ordered as you ask.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Playlist ID
 * @return PlaylistApiGetRequest
 */

func (s *PlaylistService) GetWithContext(ctx context.Context, id string, r PlaylistApiGetRequest) (*PlaylistResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/playlists/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	if r.orderBy != nil {
		localVarQueryParams.Add("order_by", parameterToString(*r.orderBy, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("search", parameterToString(*r.search, ""))
	}
	if r.sortBy != nil {
		localVarQueryParams.Add("sort_by", parameterToString(*r.sortBy, ""))
	}

	req, err := s.client.prepareRequest(ctx, http.MethodGet, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(PlaylistResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Update Update a playlist
 * Changes a playlist's name, tags or thumbnail, sent as multipart/form-data. The file field is the new thumbnail: a PNG or JPEG, judged by its content, whose name, if it has an extension, must agree with it. The handler also takes a JSON body (name, tags, metadata); metadata can only be changed that way, since a form cannot carry its key/value list.

 * @param id Playlist ID
 * @return PlaylistApiUpdateRequest
 */

func (s *PlaylistService) UpdateFile(id string, file *os.File, name *string, tags *[]string) (*ResponseSuccess, error) {
	return s.UpdateFileWithContext(context.Background(), id, file, name, tags)
}

/*
 * Update Update a playlist
 * Changes a playlist's name, tags or thumbnail, sent as multipart/form-data. The file field is the new thumbnail: a PNG or JPEG, judged by its content, whose name, if it has an extension, must agree with it. The handler also takes a JSON body (name, tags, metadata); metadata can only be changed that way, since a form cannot carry its key/value list.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Playlist ID
 * @return PlaylistApiUpdateRequest
 */

func (s *PlaylistService) UpdateFileWithContext(ctx context.Context, id string, file *os.File, name *string, tags *[]string) (*ResponseSuccess, error) {
	// A nil file sends no file part, for an endpoint whose file is optional.
	var fileName string
	var fileReader io.Reader
	if file != nil {
		fileName, fileReader = file.Name(), file
	}

	return s.UpdateWithContext(ctx, id, name, tags, fileName, fileReader)
}

/*
* Update Update a playlist
* Changes a playlist's name, tags or thumbnail, sent as multipart/form-data. The file field is the new thumbnail: a PNG or JPEG, judged by its content, whose name, if it has an extension, must agree with it. The handler also takes a JSON body (name, tags, metadata); metadata can only be changed that way, since a form cannot carry its key/value list.

* @param id Playlist ID
* @return PlaylistApiUpdateRequest
 */
func (s *PlaylistService) Update(id string, name *string, tags *[]string, fileName string, fileReader io.Reader) (*ResponseSuccess, error) {
	return s.UpdateWithContext(context.Background(), id, name, tags, fileName, fileReader)
}

/*
 * Update Update a playlist
 * Changes a playlist's name, tags or thumbnail, sent as multipart/form-data. The file field is the new thumbnail: a PNG or JPEG, judged by its content, whose name, if it has an extension, must agree with it. The handler also takes a JSON body (name, tags, metadata); metadata can only be changed that way, since a form cannot carry its key/value list.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Playlist ID
 * @return PlaylistApiUpdateRequest
 */
func (s *PlaylistService) UpdateWithContext(ctx context.Context, id string, name *string, tags *[]string, fileName string, fileReader io.Reader) (*ResponseSuccess, error) {
	localVarPath := "/playlists/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := make(map[string]string)

	if name != nil {
		localVarFormParams["name"] = parameterToString(*name, "")
	}
	if tags != nil {
		localVarFormParams["tags"] = parameterToString(*tags, "csv")
	}

	req, err := s.client.prepareUploadRequest(ctx, http.MethodPatch, localVarPath, fileName, fileReader, localVarHeaderParams, localVarQueryParams, localVarFormParams)
	if err != nil {
		return nil, err
	}

	res := new(ResponseSuccess)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Delete Delete a playlist
 * Deletes a playlist. The media in it is not deleted.

 * @param id Playlist ID
 * @return PlaylistApiDeleteRequest
 */

func (s *PlaylistService) Delete(id string) (*ResponseSuccess, error) {

	return s.DeleteWithContext(context.Background(), id)

}

/*
 * Delete Delete a playlist
 * Deletes a playlist. The media in it is not deleted.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Playlist ID
 * @return PlaylistApiDeleteRequest
 */

func (s *PlaylistService) DeleteWithContext(ctx context.Context, id string) (*ResponseSuccess, error) {
	var localVarPostBody interface{}

	localVarPath := "/playlists/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	req, err := s.client.prepareRequest(ctx, http.MethodDelete, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ResponseSuccess)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * List List playlists
 * Returns a page of the playlists in your workspace.

 * @return PlaylistApiListRequest
 */

func (s *PlaylistService) List(listPlaylistsRequest ListPlaylistsRequest) (*ListPlaylistsResponse, error) {

	return s.ListWithContext(context.Background(), listPlaylistsRequest)

}

/*
 * List List playlists
 * Returns a page of the playlists in your workspace.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return PlaylistApiListRequest
 */

func (s *PlaylistService) ListWithContext(ctx context.Context, listPlaylistsRequest ListPlaylistsRequest) (*ListPlaylistsResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/playlists"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = listPlaylistsRequest

	req, err := s.client.prepareRequest(ctx, http.MethodPost, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ListPlaylistsResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * DeleteThumbnail Delete a playlist thumbnail
 * Removes the thumbnail from a playlist.

 * @param id Playlist ID
 * @return PlaylistApiDeleteThumbnailRequest
 */

func (s *PlaylistService) DeleteThumbnail(id string) (*ResponseSuccess, error) {

	return s.DeleteThumbnailWithContext(context.Background(), id)

}

/*
 * DeleteThumbnail Delete a playlist thumbnail
 * Removes the thumbnail from a playlist.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Playlist ID
 * @return PlaylistApiDeleteThumbnailRequest
 */

func (s *PlaylistService) DeleteThumbnailWithContext(ctx context.Context, id string) (*ResponseSuccess, error) {
	var localVarPostBody interface{}

	localVarPath := "/playlists/{id}/thumbnail"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	req, err := s.client.prepareRequest(ctx, http.MethodDelete, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ResponseSuccess)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * AddMedia Add media to playlists
 * Adds one or more media to one or more of your playlists.

 * @param id Playlist ID
 * @return PlaylistApiAddMediaRequest
 */

func (s *PlaylistService) AddMedia(id string, addMediaRequest AddMediaRequest) (*ResponseSuccess, error) {

	return s.AddMediaWithContext(context.Background(), id, addMediaRequest)

}

/*
 * AddMedia Add media to playlists
 * Adds one or more media to one or more of your playlists.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Playlist ID
 * @return PlaylistApiAddMediaRequest
 */

func (s *PlaylistService) AddMediaWithContext(ctx context.Context, id string, addMediaRequest AddMediaRequest) (*ResponseSuccess, error) {
	var localVarPostBody interface{}

	localVarPath := "/playlists/{id}/items"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = addMediaRequest

	req, err := s.client.prepareRequest(ctx, http.MethodPost, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ResponseSuccess)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * GetPublic Get a playlist for the player
 * Returns the payload the player needs to play a playlist, including its theme. No account required.

 * @param id Playlist ID
 * @return PlaylistApiGetPublicRequest
 */

func (s *PlaylistService) GetPublic(id string) (*ResponseSuccess, error) {

	return s.GetPublicWithContext(context.Background(), id)

}

/*
 * GetPublic Get a playlist for the player
 * Returns the payload the player needs to play a playlist, including its theme. No account required.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Playlist ID
 * @return PlaylistApiGetPublicRequest
 */

func (s *PlaylistService) GetPublicWithContext(ctx context.Context, id string) (*ResponseSuccess, error) {
	var localVarPostBody interface{}

	localVarPath := "/playlists/{id}/player.json"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	req, err := s.client.prepareRequest(ctx, http.MethodGet, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ResponseSuccess)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * MoveItem Reorder a playlist
 * Moves one item within a playlist. Send next_id to move it to the start, previous_id to move it to the end, or both to move it between two items.

 * @param id Playlist ID
 * @return PlaylistApiMoveItemRequest
 */

func (s *PlaylistService) MoveItem(id string, moveItemRequest MoveItemRequest) (*ResponseSuccess, error) {

	return s.MoveItemWithContext(context.Background(), id, moveItemRequest)

}

/*
 * MoveItem Reorder a playlist
 * Moves one item within a playlist. Send next_id to move it to the start, previous_id to move it to the end, or both to move it between two items.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Playlist ID
 * @return PlaylistApiMoveItemRequest
 */

func (s *PlaylistService) MoveItemWithContext(ctx context.Context, id string, moveItemRequest MoveItemRequest) (*ResponseSuccess, error) {
	var localVarPostBody interface{}

	localVarPath := "/playlists/{id}/items"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = moveItemRequest

	req, err := s.client.prepareRequest(ctx, http.MethodPut, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ResponseSuccess)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * RemoveMedia Remove an item from playlists
 * Removes one item from one or more of your playlists.

 * @param id Playlist ID
 * @param itemId Playlist item ID
 * @return PlaylistApiRemoveMediaRequest
 */

func (s *PlaylistService) RemoveMedia(id string, itemId string, removeMediaRequest RemoveMediaRequest) (*ResponseSuccess, error) {

	return s.RemoveMediaWithContext(context.Background(), id, itemId, removeMediaRequest)

}

/*
 * RemoveMedia Remove an item from playlists
 * Removes one item from one or more of your playlists.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Playlist ID
 * @param itemId Playlist item ID
 * @return PlaylistApiRemoveMediaRequest
 */

func (s *PlaylistService) RemoveMediaWithContext(ctx context.Context, id string, itemId string, removeMediaRequest RemoveMediaRequest) (*ResponseSuccess, error) {
	var localVarPostBody interface{}

	localVarPath := "/playlists/{id}/items/{item_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"item_id"+"}", url.PathEscape(parameterToString(itemId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = removeMediaRequest

	req, err := s.client.prepareRequest(ctx, http.MethodDelete, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ResponseSuccess)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}
