/*
 * AIOZ Stream API
 *
 * The AIOZ Stream API, as the generated SDK clients see it.
 *
 * API version: 1.0
 * Contact: support@swagger.io
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package aiozstreamsdk

import (
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
	"strings"
)

// Linger please
var (
	_ context.Context
)

type PlayersApiListRequest struct {
	limit   *int64
	offset  *int64
	orderBy *string
	search  *string
	sortBy  *string
}

func (r PlayersApiListRequest) Limit(limit int64) PlayersApiListRequest {
	r.limit = &limit
	return r
}
func (r PlayersApiListRequest) Offset(offset int64) PlayersApiListRequest {
	r.offset = &offset
	return r
}
func (r PlayersApiListRequest) OrderBy(orderBy string) PlayersApiListRequest {
	r.orderBy = &orderBy
	return r
}
func (r PlayersApiListRequest) Search(search string) PlayersApiListRequest {
	r.search = &search
	return r
}
func (r PlayersApiListRequest) SortBy(sortBy string) PlayersApiListRequest {
	r.sortBy = &sortBy
	return r
}

type PlayersServiceI interface {
	/*
	 * Create Create a player theme
	 * @return PlayersApiCreateRequest
	 */

	Create(playerThemeInput PlayerThemeInput) (*ThemeResponse, error)

	/*
	 * Create Create a player theme
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return PlayersApiCreateRequest
	 */

	CreateWithContext(ctx context.Context, playerThemeInput PlayerThemeInput) (*ThemeResponse, error)

	/*
	 * Get Get a player theme
	 * @param id Player theme ID
	 * @return PlayersApiGetRequest
	 */

	Get(id string) (*ThemeResponse, error)

	/*
	 * Get Get a player theme
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Player theme ID
	 * @return PlayersApiGetRequest
	 */

	GetWithContext(ctx context.Context, id string) (*ThemeResponse, error)

	/*
	 * Update Update a player theme
	 * @param id Player theme ID
	 * @return PlayersApiUpdateRequest
	 */

	Update(id string, playerThemeInput PlayerThemeInput) (*ThemeResponse, error)

	/*
	 * Update Update a player theme
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Player theme ID
	 * @return PlayersApiUpdateRequest
	 */

	UpdateWithContext(ctx context.Context, id string, playerThemeInput PlayerThemeInput) (*ThemeResponse, error)

	/*
	 * Delete Delete a player theme
	 * @param id Player theme ID
	 * @return PlayersApiDeleteRequest
	 */

	Delete(id string) (*ResponseSuccess, error)

	/*
	 * Delete Delete a player theme
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Player theme ID
	 * @return PlayersApiDeleteRequest
	 */

	DeleteWithContext(ctx context.Context, id string) (*ResponseSuccess, error)

	/*
	 * List List player themes
	 * @return PlayersApiListRequest
	 */

	List(r PlayersApiListRequest) (*ListThemesResponse, error)

	/*
	 * List List player themes
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return PlayersApiListRequest
	 */

	ListWithContext(ctx context.Context, r PlayersApiListRequest) (*ListThemesResponse, error)

	/*
	 * UploadLogo Upload a player theme logo
	 * @param id Player theme ID
	 * @return PlayersApiUploadLogoRequest
	 */
	UploadLogo(id string, link *string, fileName string, fileReader io.Reader) (*ThemeResponse, error)
	/*
	 * UploadLogo Upload a player theme logo
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Player theme ID
	 * @return PlayersApiUploadLogoRequest
	 */
	UploadLogoWithContext(ctx context.Context, id string, link *string, fileName string, fileReader io.Reader) (*ThemeResponse, error)

	/*
	 * DeleteLogo Delete a player theme logo
	 * @param id Player theme ID
	 * @return PlayersApiDeleteLogoRequest
	 */

	DeleteLogo(id string) (*ResponseSuccess, error)

	/*
	 * DeleteLogo Delete a player theme logo
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Player theme ID
	 * @return PlayersApiDeleteLogoRequest
	 */

	DeleteLogoWithContext(ctx context.Context, id string) (*ResponseSuccess, error)

	/*
	 * Attach Add a player theme to a media
	 * @return PlayersApiAttachRequest
	 */

	Attach(attachThemeRequest AttachThemeRequest) (*ResponseSuccess, error)

	/*
	 * Attach Add a player theme to a media
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return PlayersApiAttachRequest
	 */

	AttachWithContext(ctx context.Context, attachThemeRequest AttachThemeRequest) (*ResponseSuccess, error)

	/*
	 * Detach Remove a player theme from a media
	 * @return PlayersApiDetachRequest
	 */

	Detach(attachThemeRequest AttachThemeRequest) (*ResponseSuccess, error)

	/*
	 * Detach Remove a player theme from a media
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return PlayersApiDetachRequest
	 */

	DetachWithContext(ctx context.Context, attachThemeRequest AttachThemeRequest) (*ResponseSuccess, error)
}

// PlayersService communicating with the Players
// endpoints of the AIOZ Stream API
type PlayersService struct {
	client *Client
}

/*
 * Create Create a player theme
 * Creates a player theme for your media and customizes how it looks.

 * @return PlayersApiCreateRequest
 */

func (s *PlayersService) Create(playerThemeInput PlayerThemeInput) (*ThemeResponse, error) {

	return s.CreateWithContext(context.Background(), playerThemeInput)

}

/*
 * Create Create a player theme
 * Creates a player theme for your media and customizes how it looks.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return PlayersApiCreateRequest
 */

func (s *PlayersService) CreateWithContext(ctx context.Context, playerThemeInput PlayerThemeInput) (*ThemeResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/players"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = playerThemeInput

	req, err := s.client.prepareRequest(ctx, http.MethodPost, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ThemeResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Get Get a player theme
 * Returns one player theme by id.

 * @param id Player theme ID
 * @return PlayersApiGetRequest
 */

func (s *PlayersService) Get(id string) (*ThemeResponse, error) {

	return s.GetWithContext(context.Background(), id)

}

/*
 * Get Get a player theme
 * Returns one player theme by id.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Player theme ID
 * @return PlayersApiGetRequest
 */

func (s *PlayersService) GetWithContext(ctx context.Context, id string) (*ThemeResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/players/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	req, err := s.client.prepareRequest(ctx, http.MethodGet, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ThemeResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Update Update a player theme
 * Applies the fields you send and leaves the rest of the theme alone.

 * @param id Player theme ID
 * @return PlayersApiUpdateRequest
 */

func (s *PlayersService) Update(id string, playerThemeInput PlayerThemeInput) (*ThemeResponse, error) {

	return s.UpdateWithContext(context.Background(), id, playerThemeInput)

}

/*
 * Update Update a player theme
 * Applies the fields you send and leaves the rest of the theme alone.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Player theme ID
 * @return PlayersApiUpdateRequest
 */

func (s *PlayersService) UpdateWithContext(ctx context.Context, id string, playerThemeInput PlayerThemeInput) (*ThemeResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/players/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = playerThemeInput

	req, err := s.client.prepareRequest(ctx, http.MethodPatch, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ThemeResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Delete Delete a player theme
 * Deletes a player theme and its logo. A theme still applied to media cannot be deleted.

 * @param id Player theme ID
 * @return PlayersApiDeleteRequest
 */

func (s *PlayersService) Delete(id string) (*ResponseSuccess, error) {

	return s.DeleteWithContext(context.Background(), id)

}

/*
 * Delete Delete a player theme
 * Deletes a player theme and its logo. A theme still applied to media cannot be deleted.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Player theme ID
 * @return PlayersApiDeleteRequest
 */

func (s *PlayersService) DeleteWithContext(ctx context.Context, id string) (*ResponseSuccess, error) {
	var localVarPostBody interface{}

	localVarPath := "/players/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	req, err := s.client.prepareRequest(ctx, http.MethodDelete, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ResponseSuccess)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * List List player themes
 * Returns a page of the player themes in your workspace.

 * @return PlayersApiListRequest
 */

func (s *PlayersService) List(r PlayersApiListRequest) (*ListThemesResponse, error) {

	return s.ListWithContext(context.Background(), r)

}

/*
 * List List player themes
 * Returns a page of the player themes in your workspace.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return PlayersApiListRequest
 */

func (s *PlayersService) ListWithContext(ctx context.Context, r PlayersApiListRequest) (*ListThemesResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/players"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.orderBy != nil {
		localVarQueryParams.Add("order_by", parameterToString(*r.orderBy, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("search", parameterToString(*r.search, ""))
	}
	if r.sortBy != nil {
		localVarQueryParams.Add("sort_by", parameterToString(*r.sortBy, ""))
	}

	req, err := s.client.prepareRequest(ctx, http.MethodGet, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ListThemesResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * UploadLogo Upload a player theme logo
 * Stores a JPG or PNG logo against a player theme, replacing whatever was there.

 * @param id Player theme ID
 * @return PlayersApiUploadLogoRequest
 */

func (s *PlayersService) UploadLogoFile(id string, file *os.File, link *string) (*ThemeResponse, error) {
	return s.UploadLogoFileWithContext(context.Background(), id, file, link)
}

/*
 * UploadLogo Upload a player theme logo
 * Stores a JPG or PNG logo against a player theme, replacing whatever was there.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Player theme ID
 * @return PlayersApiUploadLogoRequest
 */

func (s *PlayersService) UploadLogoFileWithContext(ctx context.Context, id string, file *os.File, link *string) (*ThemeResponse, error) {
	// A nil file sends no file part, for an endpoint whose file is optional.
	var fileName string
	var fileReader io.Reader
	if file != nil {
		fileName, fileReader = file.Name(), file
	}

	return s.UploadLogoWithContext(ctx, id, link, fileName, fileReader)
}

/*
* UploadLogo Upload a player theme logo
* Stores a JPG or PNG logo against a player theme, replacing whatever was there.

* @param id Player theme ID
* @return PlayersApiUploadLogoRequest
 */
func (s *PlayersService) UploadLogo(id string, link *string, fileName string, fileReader io.Reader) (*ThemeResponse, error) {
	return s.UploadLogoWithContext(context.Background(), id, link, fileName, fileReader)
}

/*
 * UploadLogo Upload a player theme logo
 * Stores a JPG or PNG logo against a player theme, replacing whatever was there.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Player theme ID
 * @return PlayersApiUploadLogoRequest
 */
func (s *PlayersService) UploadLogoWithContext(ctx context.Context, id string, link *string, fileName string, fileReader io.Reader) (*ThemeResponse, error) {
	localVarPath := "/players/{id}/logo"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := make(map[string]string)

	if link != nil {
		localVarFormParams["link"] = parameterToString(*link, "")
	}

	req, err := s.client.prepareUploadRequest(ctx, http.MethodPost, localVarPath, fileName, fileReader, localVarHeaderParams, localVarQueryParams, localVarFormParams)
	if err != nil {
		return nil, err
	}

	res := new(ThemeResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * DeleteLogo Delete a player theme logo
 * Removes the logo from a player theme.

 * @param id Player theme ID
 * @return PlayersApiDeleteLogoRequest
 */

func (s *PlayersService) DeleteLogo(id string) (*ResponseSuccess, error) {

	return s.DeleteLogoWithContext(context.Background(), id)

}

/*
 * DeleteLogo Delete a player theme logo
 * Removes the logo from a player theme.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Player theme ID
 * @return PlayersApiDeleteLogoRequest
 */

func (s *PlayersService) DeleteLogoWithContext(ctx context.Context, id string) (*ResponseSuccess, error) {
	var localVarPostBody interface{}

	localVarPath := "/players/{id}/logo"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	req, err := s.client.prepareRequest(ctx, http.MethodDelete, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ResponseSuccess)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Attach Add a player theme to a media
 * Binds a player theme to a piece of media.

 * @return PlayersApiAttachRequest
 */

func (s *PlayersService) Attach(attachThemeRequest AttachThemeRequest) (*ResponseSuccess, error) {

	return s.AttachWithContext(context.Background(), attachThemeRequest)

}

/*
 * Attach Add a player theme to a media
 * Binds a player theme to a piece of media.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return PlayersApiAttachRequest
 */

func (s *PlayersService) AttachWithContext(ctx context.Context, attachThemeRequest AttachThemeRequest) (*ResponseSuccess, error) {
	var localVarPostBody interface{}

	localVarPath := "/players/add-player"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = attachThemeRequest

	req, err := s.client.prepareRequest(ctx, http.MethodPost, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ResponseSuccess)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Detach Remove a player theme from a media
 * Releases a player theme from a piece of media.

 * @return PlayersApiDetachRequest
 */

func (s *PlayersService) Detach(attachThemeRequest AttachThemeRequest) (*ResponseSuccess, error) {

	return s.DetachWithContext(context.Background(), attachThemeRequest)

}

/*
 * Detach Remove a player theme from a media
 * Releases a player theme from a piece of media.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return PlayersApiDetachRequest
 */

func (s *PlayersService) DetachWithContext(ctx context.Context, attachThemeRequest AttachThemeRequest) (*ResponseSuccess, error) {
	var localVarPostBody interface{}

	localVarPath := "/players/remove-player"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = attachThemeRequest

	req, err := s.client.prepareRequest(ctx, http.MethodPost, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ResponseSuccess)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}
