/*
 * AIOZ Stream API
 *
 * The AIOZ Stream API, as the generated SDK clients see it.
 *
 * API version: 1.0
 * Contact: support@swagger.io
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package aiozstreamsdk

import (
	"context"
	"net/http"
	"net/url"
)

// Linger please
var (
	_ context.Context
)

type UserServiceI interface {
	/*
	 * GetMe Get the current account
	 * @return UserApiGetMeRequest
	 */

	GetMe() (*MeResponse, error)

	/*
	 * GetMe Get the current account
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return UserApiGetMeRequest
	 */

	GetMeWithContext(ctx context.Context) (*MeResponse, error)
}

// UserService communicating with the User
// endpoints of the AIOZ Stream API
type UserService struct {
	client *Client
}

/*
 * GetMe Get the current account
 * Returns the account the request is authenticated as.

 * @return UserApiGetMeRequest
 */

func (s *UserService) GetMe() (*MeResponse, error) {

	return s.GetMeWithContext(context.Background())

}

/*
 * GetMe Get the current account
 * Returns the account the request is authenticated as.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return UserApiGetMeRequest
 */

func (s *UserService) GetMeWithContext(ctx context.Context) (*MeResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/user/me"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	req, err := s.client.prepareRequest(ctx, http.MethodGet, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(MeResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}
