/*
 * Aioz Stream API
 *
 * Aioz Stream Service
 *
 * API version: 1.0
 * Contact: support@swagger.io
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package aiozstreamsdk

import (
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
	"strings"
)

// Linger please
var (
	_ context.Context
)

type MediaChapterApiGetRequest struct {
	offset *int32
	limit  *int32
}

func (r MediaChapterApiGetRequest) Offset(offset int32) MediaChapterApiGetRequest {
	r.offset = &offset
	return r
}
func (r MediaChapterApiGetRequest) Limit(limit int32) MediaChapterApiGetRequest {
	r.limit = &limit
	return r
}

type MediaChapterServiceI interface {
	/*
	 * Create Create a media chapter
	 * @param id Media ID
	 * @param lan Language
	 * @return MediaChapterApiCreateRequest
	 */
	Create(id string, lan string, fileName string, fileReader io.Reader) (*CreateMediaChapterResponse, error)
	/*
	 * Create Create a media chapter
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Media ID
	 * @param lan Language
	 * @return MediaChapterApiCreateRequest
	 */
	CreateWithContext(ctx context.Context, id string, lan string, fileName string, fileReader io.Reader) (*CreateMediaChapterResponse, error)

	/*
	 * Get Get media chapters
	 * @param id Media ID
	 * @return MediaChapterApiGetRequest
	 */

	Get(id string, r MediaChapterApiGetRequest) (*GetMediaChaptersResponse, error)

	/*
	 * Get Get media chapters
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Media ID
	 * @return MediaChapterApiGetRequest
	 */

	GetWithContext(ctx context.Context, id string, r MediaChapterApiGetRequest) (*GetMediaChaptersResponse, error)

	/*
	 * Delete Delete a video chapter
	 * @param id Video ID
	 * @param lan Language
	 * @return MediaChapterApiDeleteRequest
	 */

	Delete(id string, lan string) (*ResponseSuccess, error)

	/*
	 * Delete Delete a video chapter
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param id Video ID
	 * @param lan Language
	 * @return MediaChapterApiDeleteRequest
	 */

	DeleteWithContext(ctx context.Context, id string, lan string) (*ResponseSuccess, error)
}

// MediaChapterService communicating with the MediaChapter
// endpoints of the AIOZ Stream API
type MediaChapterService struct {
	client *Client
}

/*
 * Create Create a media chapter
 * Create a VTT file to add chapters to your media. Chapters help break the media into sections.

 * @param id Media ID
 * @param lan Language
 * @return MediaChapterApiCreateRequest
 */

func (s *MediaChapterService) CreateFile(id string, lan string, file *os.File) (*CreateMediaChapterResponse, error) {
	return s.CreateFileWithContext(context.Background(), id, lan, file)
}

/*
 * Create Create a media chapter
 * Create a VTT file to add chapters to your media. Chapters help break the media into sections.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Media ID
 * @param lan Language
 * @return MediaChapterApiCreateRequest
 */

func (s *MediaChapterService) CreateFileWithContext(ctx context.Context, id string, lan string, file *os.File) (*CreateMediaChapterResponse, error) {
	return s.CreateWithContext(ctx, id, lan, file.Name(), io.Reader(file))
}

/*
* Create Create a media chapter
* Create a VTT file to add chapters to your media. Chapters help break the media into sections.

* @param id Media ID
* @param lan Language
* @return MediaChapterApiCreateRequest
 */
func (s *MediaChapterService) Create(id string, lan string, fileName string, fileReader io.Reader) (*CreateMediaChapterResponse, error) {
	return s.CreateWithContext(context.Background(), id, lan, fileName, fileReader)
}

/*
 * Create Create a media chapter
 * Create a VTT file to add chapters to your media. Chapters help break the media into sections.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Media ID
 * @param lan Language
 * @return MediaChapterApiCreateRequest
 */
func (s *MediaChapterService) CreateWithContext(ctx context.Context, id string, lan string, fileName string, fileReader io.Reader) (*CreateMediaChapterResponse, error) {
	localVarPath := "/media/{id}/chapters/{lan}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lan"+"}", url.PathEscape(parameterToString(lan, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := make(map[string]string)

	req, err := s.client.prepareUploadRequest(ctx, http.MethodPost, localVarPath, fileName, fileReader, localVarHeaderParams, localVarQueryParams, localVarFormParams)

	if err != nil {
		return nil, err
	}

	res := new(CreateMediaChapterResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Get Get media chapters
 * Get a chapter for by media id in a specific language.

 * @param id Media ID
 * @return MediaChapterApiGetRequest
 */

func (s *MediaChapterService) Get(id string, r MediaChapterApiGetRequest) (*GetMediaChaptersResponse, error) {

	return s.GetWithContext(context.Background(), id, r)

}

/*
 * Get Get media chapters
 * Get a chapter for by media id in a specific language.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Media ID
 * @return MediaChapterApiGetRequest
 */

func (s *MediaChapterService) GetWithContext(ctx context.Context, id string, r MediaChapterApiGetRequest) (*GetMediaChaptersResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/media/{id}/chapters"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}

	req, err := s.client.prepareRequest(ctx, http.MethodGet, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(GetMediaChaptersResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Delete Delete a video chapter
 * Delete a chapter in a specific language by providing the video ID for the video you want to delete the chapter from and the language the chapter is in.

 * @param id Video ID
 * @param lan Language
 * @return MediaChapterApiDeleteRequest
 */

func (s *MediaChapterService) Delete(id string, lan string) (*ResponseSuccess, error) {

	return s.DeleteWithContext(context.Background(), id, lan)

}

/*
 * Delete Delete a video chapter
 * Delete a chapter in a specific language by providing the video ID for the video you want to delete the chapter from and the language the chapter is in.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id Video ID
 * @param lan Language
 * @return MediaChapterApiDeleteRequest
 */

func (s *MediaChapterService) DeleteWithContext(ctx context.Context, id string, lan string) (*ResponseSuccess, error) {
	var localVarPostBody interface{}

	localVarPath := "/media/{id}/chapters/{lan}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(id, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lan"+"}", url.PathEscape(parameterToString(lan, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	req, err := s.client.prepareRequest(ctx, http.MethodDelete, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(ResponseSuccess)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}
