/*
 * Aioz Stream API
 *
 * Aioz Stream Service
 *
 * API version: 1.0
 * Contact: support@swagger.io
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package aiozstreamsdk

import (
	"context"
	"net/http"
	"net/url"
	"strings"
)

// Linger please
var (
	_ context.Context
)

type AnalyticsApiGetDataUsageRequest struct {
	from     *int32
	to       *int32
	interval *string
	offset   *int32
	limit    *int32
}

func (r AnalyticsApiGetDataUsageRequest) From(from int32) AnalyticsApiGetDataUsageRequest {
	r.from = &from
	return r
}
func (r AnalyticsApiGetDataUsageRequest) To(to int32) AnalyticsApiGetDataUsageRequest {
	r.to = &to
	return r
}
func (r AnalyticsApiGetDataUsageRequest) Interval(interval string) AnalyticsApiGetDataUsageRequest {
	r.interval = &interval
	return r
}
func (r AnalyticsApiGetDataUsageRequest) Offset(offset int32) AnalyticsApiGetDataUsageRequest {
	r.offset = &offset
	return r
}
func (r AnalyticsApiGetDataUsageRequest) Limit(limit int32) AnalyticsApiGetDataUsageRequest {
	r.limit = &limit
	return r
}

type AnalyticsApiGetStatisticMediasRequest struct {
	from   *int32
	to     *int32
	type_  *string
	offset *int32
	limit  *int32
}

func (r AnalyticsApiGetStatisticMediasRequest) From(from int32) AnalyticsApiGetStatisticMediasRequest {
	r.from = &from
	return r
}
func (r AnalyticsApiGetStatisticMediasRequest) To(to int32) AnalyticsApiGetStatisticMediasRequest {
	r.to = &to
	return r
}
func (r AnalyticsApiGetStatisticMediasRequest) Type_(type_ string) AnalyticsApiGetStatisticMediasRequest {
	r.type_ = &type_
	return r
}
func (r AnalyticsApiGetStatisticMediasRequest) Offset(offset int32) AnalyticsApiGetStatisticMediasRequest {
	r.offset = &offset
	return r
}
func (r AnalyticsApiGetStatisticMediasRequest) Limit(limit int32) AnalyticsApiGetStatisticMediasRequest {
	r.limit = &limit
	return r
}

type AnalyticsServiceI interface {
	/*
	 * GetAggregatedMetrics Get aggregated metrics
	 * @param metric metric name
	 * @param aggregation aggregation method
	 * @return AnalyticsApiGetAggregatedMetricsRequest
	 */

	GetAggregatedMetrics(metric string, aggregation string, request InternalControllersGetAggreatedMetricsMetricsRequest) (*GetAggregatedMetricsResponse, error)

	/*
	 * GetAggregatedMetrics Get aggregated metrics
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param metric metric name
	 * @param aggregation aggregation method
	 * @return AnalyticsApiGetAggregatedMetricsRequest
	 */

	GetAggregatedMetricsWithContext(ctx context.Context, metric string, aggregation string, request InternalControllersGetAggreatedMetricsMetricsRequest) (*GetAggregatedMetricsResponse, error)

	/*
	 * GetBreakdownMetrics Get breakdown metrics
	 * @param metric metric name
	 * @param breakdown breakdown dimension
	 * @return AnalyticsApiGetBreakdownMetricsRequest
	 */

	GetBreakdownMetrics(metric string, breakdown string, request GetBreakdownMetricsRequest) (*GetBreakdownMetricsResponse, error)

	/*
	 * GetBreakdownMetrics Get breakdown metrics
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param metric metric name
	 * @param breakdown breakdown dimension
	 * @return AnalyticsApiGetBreakdownMetricsRequest
	 */

	GetBreakdownMetricsWithContext(ctx context.Context, metric string, breakdown string, request GetBreakdownMetricsRequest) (*GetBreakdownMetricsResponse, error)

	/*
	 * GetDataUsage Get data usage
	 * @return AnalyticsApiGetDataUsageRequest
	 */

	GetDataUsage(r AnalyticsApiGetDataUsageRequest) (*GetDataUsageResponse, error)

	/*
	 * GetDataUsage Get data usage
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return AnalyticsApiGetDataUsageRequest
	 */

	GetDataUsageWithContext(ctx context.Context, r AnalyticsApiGetDataUsageRequest) (*GetDataUsageResponse, error)

	/*
	 * GetOvertimeMetrics Get overtime metrics
	 * @param metric metric name
	 * @param interval time interval
	 * @return AnalyticsApiGetOvertimeMetricsRequest
	 */

	GetOvertimeMetrics(metric string, interval string, request GetBreakdownMetricsRequest) (*GetOvertimeMetricsResponse, error)

	/*
	 * GetOvertimeMetrics Get overtime metrics
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param metric metric name
	 * @param interval time interval
	 * @return AnalyticsApiGetOvertimeMetricsRequest
	 */

	GetOvertimeMetricsWithContext(ctx context.Context, metric string, interval string, request GetBreakdownMetricsRequest) (*GetOvertimeMetricsResponse, error)

	/*
	 * GetStatisticMedias Get statistic media
	 * @return AnalyticsApiGetStatisticMediasRequest
	 */

	GetStatisticMedias(r AnalyticsApiGetStatisticMediasRequest) (*GetStatisticMediasResponse, error)

	/*
	 * GetStatisticMedias Get statistic media
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return AnalyticsApiGetStatisticMediasRequest
	 */

	GetStatisticMediasWithContext(ctx context.Context, r AnalyticsApiGetStatisticMediasRequest) (*GetStatisticMediasResponse, error)
}

// AnalyticsService communicating with the Analytics
// endpoints of the AIOZ Stream API
type AnalyticsService struct {
	client *Client
}

/*
 * GetAggregatedMetrics Get aggregated metrics
 * Retrieve aggregated metric data with a specific aggregation method

 * @param metric metric name
 * @param aggregation aggregation method
 * @return AnalyticsApiGetAggregatedMetricsRequest
 */

func (s *AnalyticsService) GetAggregatedMetrics(metric string, aggregation string, request InternalControllersGetAggreatedMetricsMetricsRequest) (*GetAggregatedMetricsResponse, error) {

	return s.GetAggregatedMetricsWithContext(context.Background(), metric, aggregation, request)

}

/*
 * GetAggregatedMetrics Get aggregated metrics
 * Retrieve aggregated metric data with a specific aggregation method
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param metric metric name
 * @param aggregation aggregation method
 * @return AnalyticsApiGetAggregatedMetricsRequest
 */

func (s *AnalyticsService) GetAggregatedMetricsWithContext(ctx context.Context, metric string, aggregation string, request InternalControllersGetAggreatedMetricsMetricsRequest) (*GetAggregatedMetricsResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/analytics/metrics/data/{metric}/{aggregation}"
	localVarPath = strings.Replace(localVarPath, "{"+"metric"+"}", url.PathEscape(parameterToString(metric, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"aggregation"+"}", url.PathEscape(parameterToString(aggregation, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = request

	req, err := s.client.prepareRequest(ctx, http.MethodPost, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(GetAggregatedMetricsResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * GetBreakdownMetrics Get breakdown metrics
 * Retrieve metric data broken down by a specific dimension

 * @param metric metric name
 * @param breakdown breakdown dimension
 * @return AnalyticsApiGetBreakdownMetricsRequest
 */

func (s *AnalyticsService) GetBreakdownMetrics(metric string, breakdown string, request GetBreakdownMetricsRequest) (*GetBreakdownMetricsResponse, error) {

	return s.GetBreakdownMetricsWithContext(context.Background(), metric, breakdown, request)

}

/*
 * GetBreakdownMetrics Get breakdown metrics
 * Retrieve metric data broken down by a specific dimension
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param metric metric name
 * @param breakdown breakdown dimension
 * @return AnalyticsApiGetBreakdownMetricsRequest
 */

func (s *AnalyticsService) GetBreakdownMetricsWithContext(ctx context.Context, metric string, breakdown string, request GetBreakdownMetricsRequest) (*GetBreakdownMetricsResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/analytics/metrics/bucket/{metric}/{breakdown}"
	localVarPath = strings.Replace(localVarPath, "{"+"metric"+"}", url.PathEscape(parameterToString(metric, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"breakdown"+"}", url.PathEscape(parameterToString(breakdown, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = request

	req, err := s.client.prepareRequest(ctx, http.MethodPost, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(GetBreakdownMetricsResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * GetDataUsage Get data usage
 * Retrieve data usage statistics over a time range with a specific interval

 * @return AnalyticsApiGetDataUsageRequest
 */

func (s *AnalyticsService) GetDataUsage(r AnalyticsApiGetDataUsageRequest) (*GetDataUsageResponse, error) {

	return s.GetDataUsageWithContext(context.Background(), r)

}

/*
 * GetDataUsage Get data usage
 * Retrieve data usage statistics over a time range with a specific interval
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return AnalyticsApiGetDataUsageRequest
 */

func (s *AnalyticsService) GetDataUsageWithContext(ctx context.Context, r AnalyticsApiGetDataUsageRequest) (*GetDataUsageResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/analytics/data"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	localVarQueryParams.Add("from", parameterToString(*r.from, ""))
	localVarQueryParams.Add("to", parameterToString(*r.to, ""))
	localVarQueryParams.Add("interval", parameterToString(*r.interval, ""))
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}

	req, err := s.client.prepareRequest(ctx, http.MethodGet, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(GetDataUsageResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * GetOvertimeMetrics Get overtime metrics
 * Retrieve metric data over time with a specific interval

 * @param metric metric name
 * @param interval time interval
 * @return AnalyticsApiGetOvertimeMetricsRequest
 */

func (s *AnalyticsService) GetOvertimeMetrics(metric string, interval string, request GetBreakdownMetricsRequest) (*GetOvertimeMetricsResponse, error) {

	return s.GetOvertimeMetricsWithContext(context.Background(), metric, interval, request)

}

/*
 * GetOvertimeMetrics Get overtime metrics
 * Retrieve metric data over time with a specific interval
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param metric metric name
 * @param interval time interval
 * @return AnalyticsApiGetOvertimeMetricsRequest
 */

func (s *AnalyticsService) GetOvertimeMetricsWithContext(ctx context.Context, metric string, interval string, request GetBreakdownMetricsRequest) (*GetOvertimeMetricsResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/analytics/metrics/timeseries/{metric}/{interval}"
	localVarPath = strings.Replace(localVarPath, "{"+"metric"+"}", url.PathEscape(parameterToString(metric, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"interval"+"}", url.PathEscape(parameterToString(interval, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = request

	req, err := s.client.prepareRequest(ctx, http.MethodPost, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(GetOvertimeMetricsResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * GetStatisticMedias Get statistic media
 * Retrieve a list of statistic media

 * @return AnalyticsApiGetStatisticMediasRequest
 */

func (s *AnalyticsService) GetStatisticMedias(r AnalyticsApiGetStatisticMediasRequest) (*GetStatisticMediasResponse, error) {

	return s.GetStatisticMediasWithContext(context.Background(), r)

}

/*
 * GetStatisticMedias Get statistic media
 * Retrieve a list of statistic media
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return AnalyticsApiGetStatisticMediasRequest
 */

func (s *AnalyticsService) GetStatisticMediasWithContext(ctx context.Context, r AnalyticsApiGetStatisticMediasRequest) (*GetStatisticMediasResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/analytics/media"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	if r.from != nil {
		localVarQueryParams.Add("from", parameterToString(*r.from, ""))
	}
	if r.to != nil {
		localVarQueryParams.Add("to", parameterToString(*r.to, ""))
	}
	if r.type_ != nil {
		localVarQueryParams.Add("type", parameterToString(*r.type_, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}

	req, err := s.client.prepareRequest(ctx, http.MethodGet, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(GetStatisticMediasResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}
