/*
 * AIOZ Stream API
 *
 * The AIOZ Stream API, as the generated SDK clients see it.
 *
 * API version: 1.0
 * Contact: support@swagger.io
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package aiozstreamsdk

import (
	"context"
	"net/http"
	"net/url"
	"strings"
)

// Linger please
var (
	_ context.Context
)

type AnalyticsApiGetDataUsageRequest struct {
	from     *int64
	interval *string
	limit    *int64
	offset   *int64
	to       *int64
}

func (r AnalyticsApiGetDataUsageRequest) From(from int64) AnalyticsApiGetDataUsageRequest {
	r.from = &from
	return r
}
func (r AnalyticsApiGetDataUsageRequest) Interval(interval string) AnalyticsApiGetDataUsageRequest {
	r.interval = &interval
	return r
}
func (r AnalyticsApiGetDataUsageRequest) Limit(limit int64) AnalyticsApiGetDataUsageRequest {
	r.limit = &limit
	return r
}
func (r AnalyticsApiGetDataUsageRequest) Offset(offset int64) AnalyticsApiGetDataUsageRequest {
	r.offset = &offset
	return r
}
func (r AnalyticsApiGetDataUsageRequest) To(to int64) AnalyticsApiGetDataUsageRequest {
	r.to = &to
	return r
}

type AnalyticsServiceI interface {
	/*
	 * GetAggregatedMetrics Aggregate one metric
	 * @param metric Metric
	 * @param aggregation Aggregation
	 * @return AnalyticsApiGetAggregatedMetricsRequest
	 */

	GetAggregatedMetrics(metric string, aggregation string, metricsRequest MetricsRequest) (*AggregatedMetricsResponse, error)

	/*
	 * GetAggregatedMetrics Aggregate one metric
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param metric Metric
	 * @param aggregation Aggregation
	 * @return AnalyticsApiGetAggregatedMetricsRequest
	 */

	GetAggregatedMetricsWithContext(ctx context.Context, metric string, aggregation string, metricsRequest MetricsRequest) (*AggregatedMetricsResponse, error)

	/*
	 * GetBreakdownMetrics Bucket one metric by dimension
	 * @param metric Metric
	 * @param breakdown Dimension
	 * @return AnalyticsApiGetBreakdownMetricsRequest
	 */

	GetBreakdownMetrics(metric string, breakdown string, metricsRequest MetricsRequest) (*MetricsPageResponse, error)

	/*
	 * GetBreakdownMetrics Bucket one metric by dimension
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param metric Metric
	 * @param breakdown Dimension
	 * @return AnalyticsApiGetBreakdownMetricsRequest
	 */

	GetBreakdownMetricsWithContext(ctx context.Context, metric string, breakdown string, metricsRequest MetricsRequest) (*MetricsPageResponse, error)

	/*
	 * GetDataUsage Delivery volume over time
	 * @return AnalyticsApiGetDataUsageRequest
	 */

	GetDataUsage(r AnalyticsApiGetDataUsageRequest) (*DataUsageResponse, error)

	/*
	 * GetDataUsage Delivery volume over time
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return AnalyticsApiGetDataUsageRequest
	 */

	GetDataUsageWithContext(ctx context.Context, r AnalyticsApiGetDataUsageRequest) (*DataUsageResponse, error)

	/*
	 * GetOvertimeMetrics Bucket one metric by time
	 * @param metric Metric
	 * @param interval Bucket size
	 * @return AnalyticsApiGetOvertimeMetricsRequest
	 */

	GetOvertimeMetrics(metric string, interval string, metricsRequest MetricsRequest) (*MetricsPageResponse, error)

	/*
	 * GetOvertimeMetrics Bucket one metric by time
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param metric Metric
	 * @param interval Bucket size
	 * @return AnalyticsApiGetOvertimeMetricsRequest
	 */

	GetOvertimeMetricsWithContext(ctx context.Context, metric string, interval string, metricsRequest MetricsRequest) (*MetricsPageResponse, error)
}

// AnalyticsService communicating with the Analytics
// endpoints of the AIOZ Stream API
type AnalyticsService struct {
	client *Client
}

/*
 * GetAggregatedMetrics Aggregate one metric
 * Returns a single number for one metric over a window and a filter.

 * @param metric Metric
 * @param aggregation Aggregation
 * @return AnalyticsApiGetAggregatedMetricsRequest
 */

func (s *AnalyticsService) GetAggregatedMetrics(metric string, aggregation string, metricsRequest MetricsRequest) (*AggregatedMetricsResponse, error) {

	return s.GetAggregatedMetricsWithContext(context.Background(), metric, aggregation, metricsRequest)

}

/*
 * GetAggregatedMetrics Aggregate one metric
 * Returns a single number for one metric over a window and a filter.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param metric Metric
 * @param aggregation Aggregation
 * @return AnalyticsApiGetAggregatedMetricsRequest
 */

func (s *AnalyticsService) GetAggregatedMetricsWithContext(ctx context.Context, metric string, aggregation string, metricsRequest MetricsRequest) (*AggregatedMetricsResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/analytics/metrics/data/{metric}/{aggregation}"
	localVarPath = strings.Replace(localVarPath, "{"+"metric"+"}", url.PathEscape(parameterToString(metric, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"aggregation"+"}", url.PathEscape(parameterToString(aggregation, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = metricsRequest

	req, err := s.client.prepareRequest(ctx, http.MethodPost, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(AggregatedMetricsResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * GetBreakdownMetrics Bucket one metric by dimension
 * Returns a page of metric values grouped by a dimension such as country or media.

 * @param metric Metric
 * @param breakdown Dimension
 * @return AnalyticsApiGetBreakdownMetricsRequest
 */

func (s *AnalyticsService) GetBreakdownMetrics(metric string, breakdown string, metricsRequest MetricsRequest) (*MetricsPageResponse, error) {

	return s.GetBreakdownMetricsWithContext(context.Background(), metric, breakdown, metricsRequest)

}

/*
 * GetBreakdownMetrics Bucket one metric by dimension
 * Returns a page of metric values grouped by a dimension such as country or media.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param metric Metric
 * @param breakdown Dimension
 * @return AnalyticsApiGetBreakdownMetricsRequest
 */

func (s *AnalyticsService) GetBreakdownMetricsWithContext(ctx context.Context, metric string, breakdown string, metricsRequest MetricsRequest) (*MetricsPageResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/analytics/metrics/bucket/{metric}/{breakdown}"
	localVarPath = strings.Replace(localVarPath, "{"+"metric"+"}", url.PathEscape(parameterToString(metric, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"breakdown"+"}", url.PathEscape(parameterToString(breakdown, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = metricsRequest

	req, err := s.client.prepareRequest(ctx, http.MethodPost, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(MetricsPageResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * GetDataUsage Delivery volume over time
 * Returns a page of how much data your media delivered, in time buckets.

 * @return AnalyticsApiGetDataUsageRequest
 */

func (s *AnalyticsService) GetDataUsage(r AnalyticsApiGetDataUsageRequest) (*DataUsageResponse, error) {

	return s.GetDataUsageWithContext(context.Background(), r)

}

/*
 * GetDataUsage Delivery volume over time
 * Returns a page of how much data your media delivered, in time buckets.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return AnalyticsApiGetDataUsageRequest
 */

func (s *AnalyticsService) GetDataUsageWithContext(ctx context.Context, r AnalyticsApiGetDataUsageRequest) (*DataUsageResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/analytics/data"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	if r.from != nil {
		localVarQueryParams.Add("from", parameterToString(*r.from, ""))
	}
	if r.interval != nil {
		localVarQueryParams.Add("interval", parameterToString(*r.interval, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.to != nil {
		localVarQueryParams.Add("to", parameterToString(*r.to, ""))
	}

	req, err := s.client.prepareRequest(ctx, http.MethodGet, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(DataUsageResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * GetOvertimeMetrics Bucket one metric by time
 * Returns a page of metric values grouped into time buckets.

 * @param metric Metric
 * @param interval Bucket size
 * @return AnalyticsApiGetOvertimeMetricsRequest
 */

func (s *AnalyticsService) GetOvertimeMetrics(metric string, interval string, metricsRequest MetricsRequest) (*MetricsPageResponse, error) {

	return s.GetOvertimeMetricsWithContext(context.Background(), metric, interval, metricsRequest)

}

/*
 * GetOvertimeMetrics Bucket one metric by time
 * Returns a page of metric values grouped into time buckets.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param metric Metric
 * @param interval Bucket size
 * @return AnalyticsApiGetOvertimeMetricsRequest
 */

func (s *AnalyticsService) GetOvertimeMetricsWithContext(ctx context.Context, metric string, interval string, metricsRequest MetricsRequest) (*MetricsPageResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/analytics/metrics/timeseries/{metric}/{interval}"
	localVarPath = strings.Replace(localVarPath, "{"+"metric"+"}", url.PathEscape(parameterToString(metric, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"interval"+"}", url.PathEscape(parameterToString(interval, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = metricsRequest

	req, err := s.client.prepareRequest(ctx, http.MethodPost, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(MetricsPageResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}
