openapi: 3.0.3
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: The AIOZ Stream API, as the generated SDK clients see it.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: AIOZ Stream API
  version: "1.0"
externalDocs:
  description: aiozstream
  url: https://swagger.io/resources/open-api/
servers:
- url: https://api.aiozstream.network/api/
paths:
  /analytics/data:
    get:
      description: Returns a page of how much data your media delivered, in time buckets.
      operationId: getDataUsage
      parameters:
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: interval
        required: false
        schema:
          enum:
          - hour
          - day
          - week
          - month
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int64
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int64
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataUsageResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Delivery volume over time
      tags:
      - analytics
      x-client-action: getDataUsage
      x-client-paginated: true
      x-group-parameters: true
  /analytics/metrics/bucket/{metric}/{breakdown}:
    post:
      description: Returns a page of metric values grouped by a dimension such as
        country or media.
      operationId: getBreakdownMetrics
      parameters:
      - description: Metric
        explode: false
        in: path
        name: metric
        required: true
        schema:
          type: string
        style: simple
      - description: Dimension
        explode: false
        in: path
        name: breakdown
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricsRequest'
        description: Window, filter and paging
        required: true
        x-originalParamName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsPageResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Bucket one metric by dimension
      tags:
      - analytics
      x-client-action: getBreakdownMetrics
      x-client-paginated: true
  /analytics/metrics/data/{metric}/{aggregation}:
    post:
      description: Returns a single number for one metric over a window and a filter.
      operationId: getAggregatedMetrics
      parameters:
      - description: Metric
        explode: false
        in: path
        name: metric
        required: true
        schema:
          type: string
        style: simple
      - description: Aggregation
        explode: false
        in: path
        name: aggregation
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricsRequest'
        description: Window and filter
        required: true
        x-originalParamName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregatedMetricsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Aggregate one metric
      tags:
      - analytics
      x-client-action: getAggregatedMetrics
  /analytics/metrics/timeseries/{metric}/{interval}:
    post:
      description: Returns a page of metric values grouped into time buckets.
      operationId: getOvertimeMetrics
      parameters:
      - description: Metric
        explode: false
        in: path
        name: metric
        required: true
        schema:
          type: string
        style: simple
      - description: Bucket size
        explode: false
        in: path
        name: interval
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricsRequest'
        description: Window, filter and paging
        required: true
        x-originalParamName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsPageResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Bucket one metric by time
      tags:
      - analytics
      x-client-action: getOvertimeMetrics
      x-client-paginated: true
  /api_keys:
    get:
      description: Returns a page of the API keys for the caller's workspace.
      operationId: listApiKeys
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int64
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int64
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort_by
        required: false
        schema:
          enum:
          - created_at
          - name
          type: string
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - full_access
          - only_upload
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiKeysResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: List API keys
      tags:
      - apiKey
      x-client-action: list
      x-client-paginated: true
      x-group-parameters: true
    post:
      description: Creates a new API key for the caller's workspace. The secret is
        returned once, here, and never again.
      operationId: createApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
        description: api key's data
        required: true
        x-originalParamName: request
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Create API key
      tags:
      - apiKey
      x-client-action: create
  /api_keys/{id}:
    delete:
      description: Revokes an API key. Requests presenting it stop working immediately.
      operationId: deleteApiKey
      parameters:
      - description: API key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Delete an API key
      tags:
      - apiKey
      x-client-action: delete
    patch:
      description: Changes an API key's display name. The key and its secret are unchanged.
      operationId: updateApiKey
      parameters:
      - description: API key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameApiKeyRequest'
        description: new name
        required: true
        x-originalParamName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Rename an API key
      tags:
      - apiKey
      x-client-action: update
  /live_streams:
    get:
      description: Get live stream key list
      parameters:
      - description: only support search by name
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: sort by
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: created_at
          enum:
          - created_at
          - name
          type: string
        style: form
      - description: 'allowed: asc, desc. Default: asc'
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: offset, allowed values greater than or equal to 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: results per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: type of media. Enums(audio, video) default(video).
        explode: true
        in: query
        name: type
        required: false
        schema:
          default: video
          enum:
          - audio
          - video
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLiveStreamKeysListResponse'
          description: GetLiveStreamKeysResponse
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Get live stream key list
      tags:
      - liveStream
      x-client-action: getLiveStreamKeys
      x-client-paginated: true
      x-group-parameters: true
      x-optional-object: true
    post:
      description: Create live stream key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLiveStreamKeyRequest'
        description: CreateLiveStreamKeyRequest
        required: true
        x-originalParamName: input
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateLiveStreamKeyResponse'
          description: CreateLiveStreamKeyResponse
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Create live stream key
      tags:
      - liveStream
      x-client-action: createLiveStreamKey
  /live_streams/{id}:
    delete:
      description: Delete a live stream key by ID
      parameters:
      - description: Live stream key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: OK
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Delete live stream key
      tags:
      - liveStream
      x-client-action: deleteLiveStreamKey
    get:
      description: Get live stream key
      parameters:
      - description: ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLiveStreamKeyResponse'
          description: LiveStreamKey
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Get live stream key
      tags:
      - liveStream
      x-client-action: getLiveStreamKey
    put:
      description: Update a live stream key by ID
      parameters:
      - description: Live stream key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLiveStreamKeyRequest'
        description: UpdateLiveStreamKeyRequest
        required: true
        x-originalParamName: input
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateLiveStreamKeyResponse'
          description: Updated LiveStreamKey
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Update live stream key
      tags:
      - liveStream
      x-client-action: updateLiveStreamKey
  /live_streams/{id}/media:
    get:
      description: Get a specific live stream media by ID
      parameters:
      - description: Live stream media ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLiveStreamMediaResponse'
          description: LiveStreamMedia
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Get live stream media
      tags:
      - liveStream
      x-client-action: getLiveStreamMedia
    post:
      description: Get live stream media for a specific live stream key
      parameters:
      - description: Live stream key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetLiveStreamMediasRequest'
        description: data
        required: true
        x-originalParamName: data
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLiveStreamMediasResponse'
          description: ok
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Get live stream media
      tags:
      - liveStream
      x-client-action: getLiveStreamMedias
  /live_streams/{id}/streamings:
    get:
      description: Get live stream media streamings for a specific live stream key
      parameters:
      - description: Live stream key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Search
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStreamingsResponse'
          description: LiveStreamMediasResponse
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Get live stream media streamings
      tags:
      - liveStream
      x-client-action: getStreamings
      x-group-parameters: true
    post:
      description: Creates a new live stream media with the provided details
      parameters:
      - description: Live stream key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStreamingRequest'
        description: CreateStreamingRequest
        required: true
        x-originalParamName: input
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateStreamingResponse'
          description: Created LiveStreamMedia
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Create a new live stream media
      tags:
      - liveStream
      x-client-action: createStreaming
    put:
      description: Update live stream media. You can only update while live streaming.
      parameters:
      - description: Live stream key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLiveStreamMediaRequest'
        description: data
        required: true
        x-originalParamName: data
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: LiveStreamMedia
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Update live stream media
      tags:
      - liveStream
      x-client-action: updateLiveStreamMedia
  /live_streams/{id}/streamings/{stream_id}:
    get:
      description: Get live stream media streaming for a specific live stream key
      parameters:
      - description: Live stream key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Stream ID
        explode: false
        in: path
        name: stream_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStreamingResponse'
          description: LiveStreamMedia
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Get live stream media streaming
      tags:
      - liveStream
      x-client-action: getStreaming
  /live_streams/{id}/thumbnail:
    delete:
      operationId: DELETE-live-stream-media-thumbnail
      parameters:
      - description: live stream media's id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: OK
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      security:
      - BasicAuth: []
      - Bearer: []
      summary: Delete live stream media thumbnail
      tags:
      - liveStream
      x-client-action: deleteThumbnail
    post:
      operationId: POST-live-stream-media-thumbnail
      parameters:
      - description: live stream media's id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: file media to be uploaded
                  format: binary
                  type: string
                  x-formData-name: file
              required:
              - file
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: OK
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      security:
      - BasicAuth: []
      - Bearer: []
      summary: Upload live stream media thumbnail
      tags:
      - liveStream
      x-client-action: uploadThumbnail
  /live_streams/multicast/{stream_key}:
    delete:
      description: Delete live stream multicast
      parameters:
      - description: Live stream key. UUID string format
        explode: false
        in: path
        name: stream_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: LiveStreamMulticast
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Delete live stream multicast
      tags:
      - liveStream
      x-client-action: deleteLiveStreamMulticast
    get:
      description: Get live stream multicast by stream key
      parameters:
      - description: Live stream key. UUID string format
        explode: false
        in: path
        name: stream_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLiveStreamMulticastResponse'
          description: ok
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Get live stream multicast by stream key
      tags:
      - liveStream
      x-client-action: getLiveStreamMulticastByStreamKey
    post:
      description: Add live stream multicast
      parameters:
      - description: Live stream key. Use uuid
        explode: false
        in: path
        name: stream_key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertLiveStreamMulticastInput'
        description: data
        required: true
        x-originalParamName: data
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLiveStreamMulticastResponse'
          description: ok
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Add live stream multicast
      tags:
      - liveStream
      x-client-action: addLiveStreamMulticasts
  /live_streams/player/{id}/media:
    get:
      description: Get live stream media public for a specific live stream key
      parameters:
      - description: Live stream key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLiveStreamMediaPublicResponse'
          description: LiveStreamMedia
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      summary: Get live stream media public
      tags:
      - liveStream
      x-client-action: getLiveStreamPlayerInfo
  /live_streams/statistic/{stream_media_id}:
    get:
      description: Get live stream statistic by stream media id
      parameters:
      - description: Live stream media ID
        explode: false
        in: path
        name: stream_media_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLiveStreamStatisticResponse'
          description: ok
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Get live stream statistic by stream media id
      tags:
      - liveStream
      x-client-action: getLiveStreamStatisticByStreamMediaId
  /live_streams/usage/{stream_id}:
    get:
      description: Returns transcoding duration, storage, and per-rendition breakdown
        for a stream
      operationId: getLiveStreamUsage
      parameters:
      - description: Stream ID (LiveStreamMedia ID)
        explode: false
        in: path
        name: stream_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStreamUsageResponse'
          description: ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Get usage details for a specific live stream
      tags:
      - liveStream
      x-client-action: getLiveStreamUsage
  /live_streams/usage/streams:
    get:
      description: Returns list of streams with their transcoding duration, storage,
        and renditions
      operationId: getUserStreamsUsageDetail
      parameters:
      - description: Start unix timestamp (seconds)
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: End unix timestamp (seconds)
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Offset for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Limit for pagination
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserStreamsUsageDetailResponse'
          description: ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Get paginated list of streams with usage details for current user
      tags:
      - liveStream
      x-client-action: getUserStreamsUsageDetail
      x-group-parameters: true
  /media:
    post:
      description: Retrieve a list of media for the authenticated user.
      operationId: POST-list-media
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMediaListRequest'
        description: media's info
        required: true
        x-originalParamName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMediaListResponse'
          description: Successful response containing the media list
          headers:
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      security:
      - BasicAuth: []
      - Bearer: []
      summary: Get user media list
      tags:
      - media
      x-client-action: getMediaList
  /media/{id}:
    delete:
      description: Delete a media by media ID.
      operationId: DELETE_media-mediaId
      parameters:
      - description: Media ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: Delete media successfully.
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Delete media
      tags:
      - media
      x-client-action: delete
    get:
      description: Retrieve the media details by media id.
      operationId: GET-media-status
      parameters:
      - description: media's id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMediaDetailResponse'
          description: OK
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-RateLimit-Retry-After:
[...]
