openapi: 3.0.3
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: The AIOZ Stream API, as the generated SDK clients see it.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: AIOZ Stream API
  version: "1.0"
externalDocs:
  description: aiozstream
  url: https://swagger.io/resources/open-api/
servers:
- url: https://api.aiozstream.network/api/
paths:
  /api_keys:
    get:
      description: Returns a page of the API keys for the caller's workspace.
      operationId: listApiKeys
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort_by
        required: false
        schema:
          enum:
          - created_at
          - name
          type: string
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - full_access
          - only_upload
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiKeysResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: List API keys
      tags:
      - apiKey
      x-client-action: list
      x-client-paginated: true
      x-group-parameters: true
    post:
      description: Creates a new API key for the caller's workspace. The secret is
        returned once, here, and never again.
      operationId: createApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
        description: api key's data
        required: true
        x-originalParamName: request
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Create API key
      tags:
      - apiKey
      x-client-action: create
  /api_keys/{id}:
    delete:
      description: Revokes an API key. Requests presenting it stop working immediately.
      operationId: deleteApiKey
      parameters:
      - description: API key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Delete an API key
      tags:
      - apiKey
      x-client-action: delete
    patch:
      description: Changes an API key's display name. The key and its secret are unchanged.
      operationId: updateApiKey
      parameters:
      - description: API key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameApiKeyRequest'
        description: new name
        required: true
        x-originalParamName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Rename an API key
      tags:
      - apiKey
      x-client-action: update
  /media:
    post:
      description: Retrieve a list of media for the authenticated user.
      operationId: POST-list-media
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMediaListRequest'
        description: media's info
        required: true
        x-originalParamName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMediaListResponse'
          description: Successful response containing the media list
          headers:
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - BasicAuth: []
      - Bearer: []
      summary: Get user media list
      tags:
      - media
      x-client-action: getMediaList
  /media/{id}:
    delete:
      description: Delete a media by media ID.
      operationId: DELETE_media-mediaId
      parameters:
      - description: Media ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: Delete media successfully.
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Delete media
      tags:
      - media
      x-client-action: delete
    get:
      description: Retrieve the media details by media id.
      operationId: GET-media-status
      parameters:
      - description: media's id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMediaDetailResponse'
          description: OK
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - BasicAuth: []
      - Bearer: []
      summary: get media detail
      tags:
      - media
      x-client-action: getDetail
    patch:
      operationId: PATCH_media
      parameters:
      - description: media's id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMediaInfoRequest'
        description: input
        required: true
        x-originalParamName: input
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: OK
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - BasicAuth: []
      - Bearer: []
      summary: update media info
      tags:
      - media
      x-client-action: update
  /media/{id}/captions:
    get:
      description: Retrieves a list of media captions for the specified media.
      operationId: GET_media-mediaId-caption-language
      parameters:
      - description: Media ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: offset, allowed values greater than or equal to 0. Default(0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: results per page. Allowed values 1-100, default is 25
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMediaCaptionsResponse'
          description: OK
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - BasicAuth: []
      - Bearer: []
      summary: Get media captions
      tags:
      - media
      x-client-action: getCaptions
      x-client-paginated: true
      x-group-parameters: true
  /media/{id}/captions/{lan}:
    delete:
      description: Delete a caption in a specific language by providing the media
        ID for the media you want to delete the caption from and the language the
        caption is in.
      operationId: DELETE_media-mediaId-captions-language
      parameters:
      - description: Media ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Language
        explode: false
        in: path
        name: lan
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: Delete caption successfully.
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - BasicAuth: []
      - Bearer: []
      summary: Delete a media caption
      tags:
      - media
      x-client-action: deleteCaption
    patch:
      description: Mark or unmark the caption in a specific language as the one the
        player shows by default for this media.
      operationId: setDefaultCaption
      parameters:
      - description: Media ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Language
        explode: false
        in: path
        name: lan
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetDefaultCaptionRequest'
        description: Whether this caption is the default
        required: true
        x-originalParamName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: Set default caption successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
      security:
      - BasicAuth: []
      - Bearer: []
      summary: Set the default caption
      tags:
      - media
      x-client-action: setDefaultCaption
    post:
      description: Uploads a VTT file and creates a new media caption for the specified
        media.
      operationId: POST_media-mediaId-caption-language
      parameters:
      - description: Media ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Language
        explode: false
        in: path
        name: lan
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          multipart/form-data:
            schema:
              properties:
                description:
                  type: string
                  x-formData-name: description
                file:
                  description: VTT File
                  format: binary
                  type: string
                  x-formData-name: file
              required:
              - file
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMediaCaptionResponse'
          description: Created
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - BasicAuth: []
      - Bearer: []
      summary: Create a new media caption
      tags:
      - media
      x-client-action: createCaption
  /media/{id}/chapters:
    get:
      description: Get a chapter for by media id in a specific language.
      operationId: GET_media-mediaId-chapters-language
      parameters:
      - description: Media ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: offset, allowed values greater than or equal to 0. Default(0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: results per page. Allowed values 1-100, default is 25
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMediaChaptersResponse'
          description: OK
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - BasicAuth: []
      - Bearer: []
      summary: Get media chapters
      tags:
      - mediaChapter
      x-client-action: get
      x-client-paginated: true
      x-group-parameters: true
  /media/{id}/chapters/{lan}:
    delete:
      description: Delete a chapter in a specific language by providing the media
        ID for the media you want to delete the chapter from and the language the
        chapter is in.
      operationId: DELETE_media-mediaId-chapters-language
      parameters:
      - description: Media ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Language
        explode: false
        in: path
        name: lan
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: OK
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: Seconds until rate limit window resets
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - BasicAuth: []
      - Bearer: []
      summary: Delete a media chapter
      tags:
      - mediaChapter
      x-client-action: delete
    post:
      description: Create a VTT file to add chapters to your media. Chapters help
        break the media into sections.
      operationId: POST_media-mediaId-chapters-language
      parameters:
      - description: Media ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Language
        explode: false
        in: path
        name: lan
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: VTT File
                  format: binary
                  type: string
                  x-formData-name: file
              required:
              - file
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMediaChapterResponse'
          description: Created
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - BasicAuth: []
      - Bearer: []
      summary: Create a media chapter
      tags:
      - mediaChapter
      x-client-action: create
  /media/{id}/complete:
    get:
      description: Get upload media when complete.
      operationId: GET-media-complete
      parameters:
      - description: media's id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: OK
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - BasicAuth: []
      - Bearer: []
      summary: Get upload media when complete
      tags:
      - media
      x-client-action: uploadMediaComplete
  /media/{id}/part:
    post:
      description: Upload part of media
      operationId: POST-media-part
      parameters:
      - description: file's info
        explode: false
        in: header
        name: Content-Range
        required: false
        schema:
          type: string
        style: simple
        x-client-ignore: true
      - description: media's id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadMediaPartRequest'
        description: part's index
        required: true
        x-originalParamName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: OK
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - BasicAuth: []
      - Bearer: []
      summary: Upload part of media
      tags:
      - media
      x-client-action: uploadPart
      x-client-chunk-upload: true
  /media/{id}/player.json:
    get:
      description: Get media player info
      parameters:
      - description: Media ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Token
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMediaPlayerInfoResponse'
          description: MediaObject
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
      summary: Get media player info
      tags:
      - media
      x-client-action: getMediaPlayerInfo
      x-group-parameters: true
  /media/{id}/thumbnail:
    delete:
      operationId: DELETE-media-thumbnail
      parameters:
      - description: media's id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: OK
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - BasicAuth: []
      - Bearer: []
      summary: Delete media thumbnail
      tags:
      - media
      x-client-action: deleteThumbnail
    post:
      operationId: POST-media-thumbnail
      parameters:
      - description: media's id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: file media to be uploaded
                  format: binary
                  type: string
                  x-formData-name: file
              required:
              - file
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: OK
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - BasicAuth: []
      - Bearer: []
      summary: Upload media thumbnail
      tags:
      - media
      x-client-action: uploadThumbnail
  /media/cost:
    get:
      description: get media transcoding cost
      operationId: GET-transcode-cost
      parameters:
      - description: media's qualities
        explode: true
        in: query
        name: qualities
        required: true
        schema:
          type: string
        style: form
      - description: media's type
        explode: true
        in: query
        name: type
        required: true
        schema:
          type: string
        style: form
      - description: media's duration
        explode: true
        in: query
        name: duration
        required: true
        schema:
          format: float64
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTranscodeCostResponse'
          description: OK
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - BasicAuth: []
      - Bearer: []
      summary: get media transcoding cost
      tags:
      - media
      x-client-action: getCost
  /media/create:
    post:
      description: Create a media object
      operationId: POST-media
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMediaRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateMediaRequest'
        description: media's info
        required: true
        x-originalParamName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMediaResponse'
          description: success
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad Request
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
          headers:
            X-RateLimit-Limit:
              description: The request limit per minute
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Retry-After:
              description: The number of seconds left until the current rate limit
                window resets
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - BasicAuth: []
      - Bearer: []
      summary: Create media object
      tags:
      - media
      x-client-action: create
  /players:
    get:
      description: Returns a page of the player themes in your workspace.
      operationId: listPlayerThemes
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort_by
        required: false
        schema:
          enum:
          - created_at
          - name
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListThemesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: List player themes
      tags:
      - players
      x-client-action: list
      x-client-paginated: true
      x-group-parameters: true
    post:
      description: Creates a player theme for your media and customizes how it looks.
      operationId: createPlayerTheme
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerThemeInput'
        description: Player theme
        required: true
        x-originalParamName: request
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Create a player theme
      tags:
      - players
      x-client-action: create
  /players/{id}:
    delete:
      description: Deletes a player theme and its logo. A theme still applied to media
        cannot be deleted.
      operationId: deletePlayerTheme
      parameters:
      - description: Player theme ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Delete a player theme
      tags:
      - players
      x-client-action: delete
    get:
      description: Returns one player theme by id.
      operationId: getPlayerTheme
      parameters:
      - description: Player theme ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Get a player theme
      tags:
      - players
      x-client-action: get
    patch:
      description: Applies the fields you send and leaves the rest of the theme alone.
      operationId: updatePlayerTheme
      parameters:
      - description: Player theme ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerThemeInput'
        description: Fields to change
        required: true
        x-originalParamName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Update a player theme
      tags:
      - players
      x-client-action: update
  /players/{id}/logo:
    delete:
      description: Removes the logo from a player theme.
      operationId: deletePlayerThemeLogo
      parameters:
      - description: Player theme ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Delete a player theme logo
      tags:
      - players
      x-client-action: deleteLogo
    post:
      description: Stores a JPG or PNG logo against a player theme, replacing whatever
        was there.
      operationId: uploadPlayerThemeLogo
      parameters:
      - description: Player theme ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: Logo image
                  format: binary
                  type: string
                  x-formData-name: file
                link:
                  description: Where clicking the logo takes the viewer
                  type: string
                  x-formData-name: link
              required:
              - file
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Upload a player theme logo
      tags:
      - players
      x-client-action: uploadLogo
  /players/add-player:
    post:
      description: Binds a player theme to a piece of media.
      operationId: attachPlayerTheme
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachThemeRequest'
        description: Media and theme
        required: true
        x-originalParamName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Add a player theme to a media
      tags:
      - players
      x-client-action: attach
  /players/remove-player:
    post:
      description: Releases a player theme from a piece of media.
      operationId: detachPlayerTheme
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachThemeRequest'
        description: Media and theme
        required: true
        x-originalParamName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Remove a player theme from a media
      tags:
      - players
      x-client-action: detach
  /playlists:
    post:
      description: Returns a page of the playlists in your workspace.
      operationId: listPlaylists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPlaylistsRequest'
        description: Filter and paging
        required: true
        x-originalParamName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPlaylistsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: List playlists
      tags:
      - playlist
      x-client-action: list
      x-client-paginated: true
  /playlists/{id}:
    delete:
      description: Deletes a playlist. The media in it is not deleted.
      operationId: deletePlaylist
      parameters:
      - description: Playlist ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Internal Server Error
      security:
      - Bearer: []
      - BasicAuth: []
      summary: Delete a playlist
      tags:
      - playlist
      x-client-action: delete
    get:
      description: Returns one playlist and its items, ordered as you ask.
      operationId: getPlaylist
      parameters:
      - description: Playlist ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort_by
        required: false
        schema:
          enum:
          - created_at
          - title
          - duration
          - status
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
[...]
